.full-screen{
  width: 100% !important; 
  height: 100% !important;
}

.App, .react-p5{
  @extend .full-screen
}
.react-p5{
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}



